* {
  box-sizing: border-box;
  background-color: #2F4F4F;
  color: #fff;
  font-family:"Ubuntu", serif;
  background-size: auto;
}
.ubuntu-light {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
  }