* {
  box-sizing: border-box;
  background-color: #4F4F4F	;
  color: #fff;
  font-family: "Ubuntu", serif;
  background-size: auto;
 
}
.main {
  border: 0.25rem solid #000;
  border-radius: 0.75rem;
  margin: 0.5rem;
 
}

.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}
