.profile-container {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.profile-photo {
  width: 150px;
  height: 180px;
  border-radius: 80%;
  margin-bottom: 1rem; 
}

.title {
  font-size: x-large;
  text-align: center;
  margin: 0.5rem;
}

.information {
  display: list-item;
  list-style: none;
  text-align: start;
  align-content: center;
  font-size: smaller;
  margin-left: 1rem;
}

.information p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  vertical-align: middle;
  margin-right: 0.5rem;
}

p.ciencias::before {
  background-image: url(../icons/ciencias.png);
}

p.email::before {
  background-image: url(../icons/email.png);
}

p.mapa::before {
  background-image: url(../icons/mapa.png);
}

p.telefone::before {
  background-image: url(../icons/telefone.png);
}
