.main {
  border: 0.25rem solid #000;
  border-radius: 0.75rem;
  margin: 0.5rem;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.profile-photo {
  width: 160px;
  height: 180px;
  border-radius: 80%;
}
.title {
  font-size:x-large;
  text-align: center;
  margin: 0.5rem;
}
.information {
  display: list-item;
  text-align: center;
  align-content: center;
  font-size: smaller;
}
.information p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.information .ciencias p::before {
  background-image: url("../icons/ciencias.png");
}

.information .email p::before {
  background-image: url("../icons/email.png");
}

.information .mapa p::before {
  background-image: url("../icons/mapa.png");
}

.information .telefone p::before {
  background-image: url("../icons/telefone.png");
}
