.profile-container {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.profile-photo {
  width: 150px;
  height: 180px;
  border-radius: 80%;
  margin-bottom: 1rem; 
}

.title {
  font-size: x-large;
  text-align: center;
  margin: 0.5rem;
}

.information {
  display: list-item;
  list-style: none;
  text-align: start;
  align-content: center;
  font-size: smaller;
  margin-left: 1rem;
}

.information p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  vertical-align: middle;
  margin-right: 0.5rem;
}

p.ciencias::before {
  background-image: url(../icons/ciencias.png);
}

p.email::before {
  background-image: url(../icons/email.png);
}

p.mapa::before {
  background-image: url(../icons/mapa.png);
}

p.telefone::before {
  background-image: url(../icons/telefone.png);
}@media only screen and (min-width: 768px) {
  div.profile-container {
    display: grid;
    grid-template-areas:
      "photo title"
      "photo information";
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
  }
  img.profile-photo {
    grid-area: photo;
    margin-bottom: 0;
    width: 300px;
    height: 280px;
    align-content: center;
    margin-top: 1rem;
  }
  h1.title {
    grid-area: title;
    text-align: center;
    margin-top: 5rem;
    font-size: xx-large;
  }
  div.information {
    text-align:center;
    grid-area: information;
    margin-left: 0;
  }
}
